<!DOCTYPE html>
<html>
  <head>
    <title>Admin</title>

    <%= favicon %>

    <%= stylesheet "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" %>
    <%= stylesheet "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" %>
    <%= stylesheet 'app' %>

  </head>
  <body>
    <main class="container-fluid main">
      <header class="navbar">
        <h1 class="navbar-brand"><a href="<%= routes.root_path %>">Ed platoform admin</a></h1>
      </header>
      <section class="row content">
        <aside class="col-md-2">
          <%= render partial: "partials/sidebar" %>
        </aside>
        <aside class="col-md-10">
          <%= yield %>
        </aside>
      </section>
      <footer>&copy; ed-plaform</footer>
    </main>

    <%= javascript "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" %>
  </body>
</html>
